<div class="pf1 chat-card damage-card {{css}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <table>
        <thead>
            <th>
                {{#if isHealing}}{{localize "PF1.Healing"}}{{else}}{{localize "PF1.Damage"}}{{/if}}
            </th>
        </thead>
        <tbody>
            <td>
                <a class="inline-roll inline-dsn-hidden inline-result" title="{{roll.formula}}" data-roll="{{json-string roll}}">
                <i class="fas fa-dice-d20"></i> {{roll.total}}
                </a>
            </td>
        </tbody>
    </table>

    <div class="flexcol card-buttons">
        <div class="card-button-group flexcol">
            {{#if isHealing}}
            <label>{{localize "PF1.Healing"}}</label>
            <div class="flexrow">
                <button type="button" data-action="applyDamage" data-value="-{{roll.total}}">{{localize "PF1.Apply"}}</button>
                <button type="button" data-action="applyDamage" data-value="-{{roll.totalHalved}}">{{localize "PF1.ApplyHalf"}}</button>
            </div>
            {{else}}
            <label>{{localize "PF1.Damage"}}</label>
            <div class="flexrow">
                <button type="button" data-action="applyDamage" data-value="{{roll.total}}">{{localize "PF1.Apply"}}</button>
                <button type="button" data-action="applyDamage" data-value="{{roll.totalHalved}}">{{localize "PF1.ApplyHalf"}}</button>
            </div>
            {{/if}}
        </div>
    </div>
</div>
