<span class="tooltipcontent">
  @attributes.cmb.total : {{system.attributes.cmb.total}}<br/>
  <br/>
  @attributes.cmb.bonus : {{system.attributes.cmb.bonus}}<br/>
  + @attributes.attack.shared : {{system.attributes.attack.shared}}<br/>
  + @attributes.attack.general : {{system.attributes.attack.general}}<br/>
  <br/>{{localize "PF1.FromSources"}}:<br/>
  {{#if (ne @root.system.traits.size "med")}}{{localize "PF1.Size"}} : {{lookup @root.config.sizeSpecialMods @root.system.traits.size }}<br/>{{/if}}
  {{#if sourceDetails.system.attributes.attack.shared.length}}
  {{#each sourceDetails.system.attributes.attack.shared as |src|}}{{src.name}} : {{src.value}}<br/>{{/each}}
  {{/if}}
  {{#if system.attributes.cmbAbility}}{{lookup @root.config.abilities system.attributes.cmbAbility}} : {{abilityMod system.attributes.cmbAbility @root.rollData 1}}<br/>{{/if}}
  {{#if sourceDetails.system.attributes.attack.general.length}}
  {{#each sourceDetails.system.attributes.attack.general as |src|}}{{src.name}} : {{src.value}}<br/>{{/each}}
  {{/if}}
  {{#if sourceDetails.system.attributes.cmb.bonus.length}}
  {{#each sourceDetails.system.attributes.cmb.bonus as |src|}}{{src.name}} : {{src.value}}<br/>{{/each}}
  {{/if}}

  {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target="misc.cmb"}}
</span>

{{numberFormat system.attributes.cmb.total decimals=0 sign=true}}